# Data extracted from
# https://pokemondb.net/type/dual

In [19]:
import pandas as pd

import pokemon_stats.mat_utils as mat

In [20]:
url = "https://pokemondb.net/type/dual"

# This will pull *all* HTML tables on the page
tables = pd.read_html(url)
# Identify which table is the dual‑type matrix you want:
df = tables[0]  # (or whichever index matches)
print(df.shape)
# Preview
df.head()

(341, 20)

,ATTACK → DEFENSE ↴,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
0,Normal —,82,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,Normal Fire,2,NaN,½,2,NaN,½,½,2,NaN,2,NaN,NaN,½,2,0,NaN,NaN,½,½
2,Normal Water,1,NaN,½,½,2,2,½,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,½,NaN
3,Normal Electric,2,NaN,NaN,NaN,½,NaN,NaN,2,NaN,2,½,NaN,NaN,NaN,0,NaN,NaN,½,NaN
4,Normal Grass,5,NaN,2,½,½,½,2,2,2,½,2,NaN,2,NaN,0,NaN,NaN,NaN,NaN

# make the type names the index

In [21]:
# fix the index
name = df.columns.to_list()[0]
# print(name)
df.set_index(name, inplace=True)
print(df.shape)
df.head()

(341, 19)

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
Normal Fire,2,NaN,½,2,NaN,½,½,2,NaN,2,NaN,NaN,½,2,0,NaN,NaN,½,½
Normal Water,1,NaN,½,½,2,2,½,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,½,NaN
Normal Electric,2,NaN,NaN,NaN,½,NaN,NaN,2,NaN,2,½,NaN,NaN,NaN,0,NaN,NaN,½,NaN
Normal Grass,5,NaN,2,½,½,½,2,2,2,½,2,NaN,2,NaN,0,NaN,NaN,NaN,NaN

# Replace NaN with 1

In [22]:
# replace Nans with value of 1
df = df.fillna(1)
print(df.head(25))

                     PKMN  Nor  Fir  Wat  Ele  Gra  Ice  Fig  Poi  Gro  Fly  \
ATTACK →  DEFENSE ↴
Normal —               82    1    1    1    1    1    1    2    1    1    1
Normal Fire             2    1    ½    2    1    ½    ½    2    1    2    1
Normal Water            1    1    ½    ½    2    2    ½    2    1    1    1
Normal Electric         2    1    1    1    ½    1    1    2    1    2    ½
Normal Grass            5    1    2    ½    ½    ½    2    2    2    ½    2
Normal Ice              0    1    2    1    1    1    ½    4    1    1    1
Normal Fighting         4    1    1    1    1    1    1    2    1    1    2
Normal Poison           2    1    1    1    1    ½    1    1    ½    2    1
Normal Ground           3    1    1    2    0    2    2    2    ½    1    1
Normal Flying          31    1    1    1    2    ½    2    1    1    0    1
Normal Psychic          7    1    1    1    1    1    1    1    1    1    1
Normal Bug              0    1    2    1    1    ½    1    1    1    ½    2
Normal Rock             0    ½    ½    2    1    2    1    4    ½    2    ½
Normal Ghost            2    0    1    1    1    1    1    0    ½    1    1
Normal Dragon           2    1    ½    ½    ½    ½    2    2    1    1    1
Normal Dark             5    1    1    1    1    1    1    4    1    1    1
Normal Steel            0    ½    2    1    1    ½    ½    4    0    2    ½
Normal Fairy            5    1    1    1    1    1    1    1    2    1    1
ATTACK →  DEFENSE ↴  PKMN  Nor  Fir  Wat  Ele  Gra  Ice  Fig  Poi  Gro  Fly
Fire —                 37    1    ½    2    1    ½    ½    1    1    2    1
Fire Normal             2    1    ½    2    1    ½    ½    2    1    2    1
Fire Water              1    1    ¼    1    2    1    ¼    1    1    2    1
Fire Electric           1    1    ½    2    ½    ½    ½    1    1    4    ½
Fire Grass              2    1    1    1    ½    ¼    1    1    2    1    2
Fire Ice                1    1    1    2    1    ½    ¼    2    1    2    1

                     Psy  Bug  Roc  Gho  Dra  Dar  Ste  Fai
ATTACK →  DEFENSE ↴
Normal —               1    1    1    0    1    1    1    1
Normal Fire            1    ½    2    0    1    1    ½    ½
Normal Water           1    1    1    0    1    1    ½    1
Normal Electric        1    1    1    0    1    1    ½    1
Normal Grass           1    2    1    0    1    1    1    1
Normal Ice             1    1    2    0    1    1    2    1
Normal Fighting        2    ½    ½    0    1    ½    1    2
Normal Poison          2    ½    1    0    1    1    1    ½
Normal Ground          1    1    ½    0    1    1    1    1
Normal Flying          1    ½    2    0    1    1    1    1
Normal Psychic         ½    2    1    0    1    2    1    1
Normal Bug             1    1    2    0    1    1    1    1
Normal Rock            1    1    1    0    1    1    2    1
Normal Ghost           1    ½    1    0    1    2    1    1
Normal Dragon          1    1    1    0    2    1    1    2
Normal Dark            0    2    1    0    1    ½    1    2
Normal Steel           ½    ½    ½    0    ½    1    ½    ½
Normal Fairy           1    ½    1    0    0    ½    2    1
ATTACK →  DEFENSE ↴  Psy  Bug  Roc  Gho  Dra  Dar  Ste  Fai
Fire —                 1    ½    2    1    1    1    ½    ½
Fire Normal            1    ½    2    0    1    1    ½    ½
Fire Water             1    ½    2    1    1    1    ¼    ½
Fire Electric          1    ½    2    1    1    1    ¼    ½
Fire Grass             1    1    2    1    1    1    ½    ½
Fire Ice               1    ½    4    1    1    1    1    ½

# fix fractions to be numerical values

In [23]:
# replace 1/2 with 0.5 and 1/5 with 0.25
df = df.replace(to_replace='½', value=0.5)
df = df.replace(to_replace='¼', value=0.25)
df.head()

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1,1,1,1,1,1,2,1,1,1,1,1,1,0,1,1,1,1
Normal Fire,2,1,0.5,2,1,0.5,0.5,2,1,2,1,1,0.5,2,0,1,1,0.5,0.5
Normal Water,1,1,0.5,0.5,2,2,0.5,2,1,1,1,1,1,1,0,1,1,0.5,1
Normal Electric,2,1,1,1,0.5,1,1,2,1,2,0.5,1,1,1,0,1,1,0.5,1
Normal Grass,5,1,2,0.5,0.5,0.5,2,2,2,0.5,2,1,2,1,0,1,1,1,1

# remove the rows that are just column names

In [24]:
# remove the unncecessary rows with only labels
df = df[~df.index.duplicated(keep=False)]
print(df.shape)
df.head()

(324, 19)

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1,1,1,1,1,1,2,1,1,1,1,1,1,0,1,1,1,1
Normal Fire,2,1,0.5,2,1,0.5,0.5,2,1,2,1,1,0.5,2,0,1,1,0.5,0.5
Normal Water,1,1,0.5,0.5,2,2,0.5,2,1,1,1,1,1,1,0,1,1,0.5,1
Normal Electric,2,1,1,1,0.5,1,1,2,1,2,0.5,1,1,1,0,1,1,0.5,1
Normal Grass,5,1,2,0.5,0.5,0.5,2,2,2,0.5,2,1,2,1,0,1,1,1,1

# convert all columns to numeric type

In [25]:
# ensure all columns are numeric and no strings
df = df.apply(pd.to_numeric)
# print(df.dtypes)
df.head()

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5
Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0

# fix the name at the top left corner

In [26]:
print(df.index.name)
df.index.name = 'defense\\attack'
df.head()

ATTACK →  DEFENSE ↴

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
defense\attack,,,,,,,,,,,,,,,,,,,
Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5
Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0

# Rename column single types to match single type labels

In [27]:
single_type_index = df.index.str.contains('—')
# print(df.index[single_type_index])
single_types = list(df.index[single_type_index].str.replace('—', '', regex=False))
df.columns = ['Pokemon'] + single_types
df.head()

,Pokemon,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
defense\attack,,,,,,,,,,,,,,,,,,,
Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5
Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0

# Turn row labels into tuples

In [28]:
# remove the — character for single types
new_index = df.index.str.replace('—', '', regex=False)
# print(df.index)
# turn into tuples
new_index =  [x.split() for x in new_index]
new_index = [x[0] if len(x)==1 else tuple(x) for x in new_index]
df.index = new_index
df

,Pokemon,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
Normal,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.00,1.0,0.0,1.0,1.00,1.0,1.0
"(Normal, Fire)",2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.50,2.0,0.0,1.0,1.00,0.5,0.5
"(Normal, Water)",1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.00,1.0,0.0,1.0,1.00,0.5,1.0
"(Normal, Electric)",2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.00,1.0,0.0,1.0,1.00,0.5,1.0
"(Normal, Grass)",5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.00,1.0,0.0,1.0,1.00,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(Fairy, Rock)",3,0.5,0.5,2.0,1.0,2.0,1.0,1.0,1.0,2.0,0.5,1.0,0.50,1.0,1.0,0.0,0.50,4.0,1.0
"(Fairy, Ghost)",2,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.25,1.0,2.0,0.0,1.00,2.0,1.0
"(Fairy, Dragon)",1,1.0,0.5,0.5,0.5,0.5,2.0,0.5,2.0,1.0,1.0,1.0,0.50,1.0,1.0,0.0,0.50,2.0,2.0
"(Fairy, Dark)",3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.0,1.00,1.0,0.5,0.0,0.25,2.0,2.0
"(Fairy, Steel)",8,0.5,2.0,1.0,1.0,0.5,0.5,1.0,0.0,2.0,0.5,0.5,0.25,0.5,1.0,0.0,0.50,1.0,0.5

# Export

In [30]:
mat.exportdf(df,"dual_single_type_chart")

Saved as ../Input_data/dual_single_type_chart.csv.csv