In [42]:
import pandas as pd

url = "https://pokemondb.net/type/dual"

# This will pull *all* HTML tables on the page
tables = pd.read_html(url)
# Identify which table is the dual‑type matrix you want:
df = tables[0]  # (or whichever index matches)
print(df.shape)
# Preview
df.head()

(341, 20)

,ATTACK → DEFENSE ↴,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
0,Normal —,82,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,Normal Fire,2,NaN,½,2,NaN,½,½,2,NaN,2,NaN,NaN,½,2,0,NaN,NaN,½,½
2,Normal Water,1,NaN,½,½,2,2,½,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,½,NaN
3,Normal Electric,2,NaN,NaN,NaN,½,NaN,NaN,2,NaN,2,½,NaN,NaN,NaN,0,NaN,NaN,½,NaN
4,Normal Grass,5,NaN,2,½,½,½,2,2,2,½,2,NaN,2,NaN,0,NaN,NaN,NaN,NaN

In [43]:
# fix the index
name = df.columns.to_list()[0]
print(name)
df.set_index(name, inplace=True)
print(df.shape)
df.head()

ATTACK →  DEFENSE ↴
(341, 19)

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
Normal Fire,2,NaN,½,2,NaN,½,½,2,NaN,2,NaN,NaN,½,2,0,NaN,NaN,½,½
Normal Water,1,NaN,½,½,2,2,½,2,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,½,NaN
Normal Electric,2,NaN,NaN,NaN,½,NaN,NaN,2,NaN,2,½,NaN,NaN,NaN,0,NaN,NaN,½,NaN
Normal Grass,5,NaN,2,½,½,½,2,2,2,½,2,NaN,2,NaN,0,NaN,NaN,NaN,NaN

In [49]:
# replace Nans with value of 1
df = df.fillna(1)
print(df.head(50))

                    PKMN  Nor  Fir  Wat  Ele  Gra  Ice  Fig  Poi  Gro  Fly  \
ATTACK →  DEFENSE ↴
Normal —              82    1    1    1    1    1    1    2    1    1    1
Normal Fire            2    1  0.5    2    1  0.5  0.5    2    1    2    1
Normal Water           1    1  0.5  0.5    2    2  0.5    2    1    1    1
Normal Electric        2    1    1    1  0.5    1    1    2    1    2  0.5
Normal Grass           5    1    2  0.5  0.5  0.5    2    2    2  0.5    2
Normal Ice             0    1    2    1    1    1  0.5    4    1    1    1
Normal Fighting        4    1    1    1    1    1    1    2    1    1    2
Normal Poison          2    1    1    1    1  0.5    1    1  0.5    2    1
Normal Ground          3    1    1    2    0    2    2    2  0.5    1    1
Normal Flying         31    1    1    1    2  0.5    2    1    1    0    1
Normal Psychic         7    1    1    1    1    1    1    1    1    1    1
Normal Bug             0    1    2    1    1  0.5    1    1    1  0.5    2
Normal Rock            0  0.5  0.5    2    1    2    1    4  0.5    2  0.5
Normal Ghost           2    0    1    1    1    1    1    0  0.5    1    1
Normal Dragon          2    1  0.5  0.5  0.5  0.5    2    2    1    1    1
Normal Dark            5    1    1    1    1    1    1    4    1    1    1
Normal Steel           0  0.5    2    1    1  0.5  0.5    4    0    2  0.5
Normal Fairy           5    1    1    1    1    1    1    1    2    1    1
Fire —                37    1  0.5    2    1  0.5  0.5    1    1    2    1
Fire Normal            2    1  0.5    2    1  0.5  0.5    2    1    2    1
Fire Water             1    1    ¼    1    2    1    ¼    1    1    2    1
Fire Electric          1    1  0.5    2  0.5  0.5  0.5    1    1    4  0.5
Fire Grass             2    1    1    1  0.5    ¼    1    1    2    1    2
Fire Ice               1    1    1    2    1  0.5    ¼    2    1    2    1
Fire Fighting          8    1  0.5    2    1  0.5  0.5    1    1    2    2
Fire Poison            3    1  0.5    2    1    ¼  0.5  0.5  0.5    4    1
Fire Ground            4    1  0.5    4    0    1    1    1  0.5    2    1
Fire Flying            7    1  0.5    2    2    ¼    1  0.5    1    0    1
Fire Psychic           4    1  0.5    2    1  0.5  0.5  0.5    1    2    1
Fire Bug               4    1    1    2    1    ¼  0.5  0.5    1    1    2
Fire Rock              5  0.5    ¼    4    1    1  0.5    2  0.5    4  0.5
Fire Ghost             8    0  0.5    2    1  0.5  0.5    0  0.5    2    1
Fire Dragon            4    1    ¼    1  0.5    ¼    1    1    1    2    1
Fire Dark              5    1  0.5    2    1  0.5  0.5    2    1    2    1
Fire Steel             1  0.5    1    2    1    ¼    ¼    2    0    4  0.5
Fire Fairy             0    1  0.5    2    1  0.5  0.5  0.5    2    2    1
Water —               81    1  0.5  0.5    2    2  0.5    1    1    1    1
Water Normal           1    1  0.5  0.5    2    2  0.5    2    1    1    1
Water Fire             1    1    ¼    1    2    1    ¼    1    1    2    1
Water Electric         3    1  0.5  0.5    1    2  0.5    1    1    2  0.5
Water Grass            4    1    1    ¼    1    1    1    1    2  0.5    2
Water Ice              8    1    1  0.5    2    2    ¼    2    1    1    1
Water Fighting         6    1  0.5  0.5    2    2  0.5    1    1    1    2
Water Poison           6    1  0.5  0.5    2    1  0.5  0.5  0.5    2    1
Water Ground          10    1  0.5    1    0    4    1    1  0.5    1    1
Water Flying           8    1  0.5  0.5    4    1    1  0.5    1    0    1
Water Psychic          7    1  0.5  0.5    2    2  0.5  0.5    1    1    1
Water Bug              5    1    1  0.5    2    1  0.5  0.5    1  0.5    2
Water Rock            11  0.5    ¼    1    2    4  0.5    2  0.5    2  0.5
Water Ghost            4    0  0.5  0.5    2    2  0.5    0  0.5    1    1

                     Psy  Bug  Roc  Gho  Dra  Dar  Ste  Fai
ATTACK →  DEFENSE ↴
Normal —               1    1    1    0    1    1    1    1
Normal Fire            1  0.5    2    0    1    1  0.5  0.5
Normal Water           1    1    1    0    1    1  0.5    1
Normal Electric        1    1    1    0    1    1  0.5    1
Normal Grass           1    2    1    0    1    1    1    1
Normal Ice             1    1    2    0    1    1    2    1
Normal Fighting        2  0.5  0.5    0    1  0.5    1    2
Normal Poison          2  0.5    1    0    1    1    1  0.5
Normal Ground          1    1  0.5    0    1    1    1    1
Normal Flying          1  0.5    2    0    1    1    1    1
Normal Psychic       0.5    2    1    0    1    2    1    1
Normal Bug             1    1    2    0    1    1    1    1
Normal Rock            1    1    1    0    1    1    2    1
Normal Ghost           1  0.5    1    0    1    2    1    1
Normal Dragon          1    1    1    0    2    1    1    2
Normal Dark            0    2    1    0    1  0.5    1    2
Normal Steel         0.5  0.5  0.5    0  0.5    1  0.5  0.5
Normal Fairy           1  0.5    1    0    0  0.5    2    1
Fire —                 1  0.5    2    1    1    1  0.5  0.5
Fire Normal            1  0.5    2    0    1    1  0.5  0.5
Fire Water             1  0.5    2    1    1    1    ¼  0.5
Fire Electric          1  0.5    2    1    1    1    ¼  0.5
Fire Grass             1    1    2    1    1    1  0.5  0.5
Fire Ice               1  0.5    4    1    1    1    1  0.5
Fire Fighting          2    ¼    1    1    1  0.5  0.5    1
Fire Poison            2    ¼    2    1    1    1  0.5    ¼
Fire Ground            1  0.5    1    1    1    1  0.5  0.5
Fire Flying            1    ¼    4    1    1    1  0.5  0.5
Fire Psychic         0.5    1    2    2    1    2  0.5  0.5
Fire Bug               1  0.5    4    1    1    1  0.5  0.5
Fire Rock              1  0.5    2    1    1    1    1  0.5
Fire Ghost             1    ¼    2    2    1    2  0.5  0.5
Fire Dragon            1  0.5    2    1    2    1  0.5    1
Fire Dark              0    1    2  0.5    1  0.5  0.5    1
Fire Steel           0.5    ¼    1    1  0.5    1    ¼    ¼
Fire Fairy             1    ¼    2    1    0  0.5    1  0.5
Water —                1    1    1    1    1    1  0.5    1
Water Normal           1    1    1    0    1    1  0.5    1
Water Fire             1  0.5    2    1    1    1    ¼  0.5
Water Electric         1    1    1    1    1    1    ¼    1
Water Grass            1    2    1    1    1    1  0.5    1
Water Ice              1    1    2    1    1    1    1    1
Water Fighting         2  0.5  0.5    1    1  0.5  0.5    2
Water Poison           2  0.5    1    1    1    1  0.5  0.5
Water Ground           1    1  0.5    1    1    1  0.5    1
Water Flying           1  0.5    2    1    1    1  0.5    1
Water Psychic        0.5    2    1    2    1    2  0.5    1
Water Bug              1    1    2    1    1    1  0.5    1
Water Rock             1    1    1    1    1    1    1    1
Water Ghost            1  0.5    1    2    1    2  0.5    1

In [50]:
# replace 1/2 with 0.5 and 1/5 with 0.25
df = df.replace(to_replace='½', value=0.5)
df = df.replace(to_replace='¼', value=0.25)
df.head()

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1,1,1,1,1,1,2,1,1,1,1,1,1,0,1,1,1,1
Normal Fire,2,1,0.5,2,1,0.5,0.5,2,1,2,1,1,0.5,2,0,1,1,0.5,0.5
Normal Water,1,1,0.5,0.5,2,2,0.5,2,1,1,1,1,1,1,0,1,1,0.5,1
Normal Electric,2,1,1,1,0.5,1,1,2,1,2,0.5,1,1,1,0,1,1,0.5,1
Normal Grass,5,1,2,0.5,0.5,0.5,2,2,2,0.5,2,1,2,1,0,1,1,1,1

In [51]:
# remove the unncecessary rows with only labels
df = df[~df.index.duplicated(keep=False)]
print(df.shape)
df.head()

(324, 19)

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1,1,1,1,1,1,2,1,1,1,1,1,1,0,1,1,1,1
Normal Fire,2,1,0.5,2,1,0.5,0.5,2,1,2,1,1,0.5,2,0,1,1,0.5,0.5
Normal Water,1,1,0.5,0.5,2,2,0.5,2,1,1,1,1,1,1,0,1,1,0.5,1
Normal Electric,2,1,1,1,0.5,1,1,2,1,2,0.5,1,1,1,0,1,1,0.5,1
Normal Grass,5,1,2,0.5,0.5,0.5,2,2,2,0.5,2,1,2,1,0,1,1,1,1

In [52]:
# ensure all columns are numeric and no strings
df = df.apply(pd.to_numeric)
print(df.dtypes)
df.head()

PKMN      int64
Nor     float64
Fir     float64
Wat     float64
Ele     float64
Gra     float64
Ice     float64
Fig     float64
Poi     float64
Gro     float64
Fly     float64
Psy     float64
Bug     float64
Roc     float64
Gho     float64
Dra     float64
Dar     float64
Ste     float64
Fai     float64
dtype: object

,PKMN,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
ATTACK → DEFENSE ↴,,,,,,,,,,,,,,,,,,,
Normal —,82,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
Normal Fire,2,1.0,0.5,2.0,1.0,0.5,0.5,2.0,1.0,2.0,1.0,1.0,0.5,2.0,0.0,1.0,1.0,0.5,0.5
Normal Water,1,1.0,0.5,0.5,2.0,2.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Electric,2,1.0,1.0,1.0,0.5,1.0,1.0,2.0,1.0,2.0,0.5,1.0,1.0,1.0,0.0,1.0,1.0,0.5,1.0
Normal Grass,5,1.0,2.0,0.5,0.5,0.5,2.0,2.0,2.0,0.5,2.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0

In [53]:
print(df.index.name)
df.index.name = 'defense\\attack'
print(df.index.name)

ATTACK →  DEFENSE ↴
defense\attack

In [54]:
df.to_csv("dual_type_chart.csv")
print("Saved as dual_type_chart.csv")

Saved as dual_type_chart.csv