In [2]:
import pandas as pd

url = "https://pokemondb.net/type"

# This will read all HTML tables on the page
tables = pd.read_html(url)
df = tables[0]    # or tables[n] whichever is correct
print(df.shape)
# Optional: see the first few rows
df.head()

(18, 19)

,DEFENSE → ATTACK ↴,Nor,Fir,Wat,Ele,Gra,Ice,Fig,Poi,Gro,Fly,Psy,Bug,Roc,Gho,Dra,Dar,Ste,Fai
0,Normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,½,0,NaN,NaN,½,NaN
1,Fire,NaN,½,½,NaN,2,2,NaN,NaN,NaN,NaN,NaN,2,½,NaN,½,NaN,2,NaN
2,Water,NaN,2,½,NaN,½,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,½,NaN,NaN,NaN
3,Electric,NaN,NaN,2,½,½,NaN,NaN,NaN,0,2,NaN,NaN,NaN,NaN,½,NaN,NaN,NaN
4,Grass,NaN,½,2,NaN,½,NaN,NaN,½,2,½,NaN,½,2,NaN,½,NaN,½,NaN

In [3]:
# fix the shape and row/column labels
# name = df.index.name
name = df.columns.to_list()[0]
print(name)
types = df[name].to_list()
print(types)
df.set_index(name, inplace=True)
df.columns = types
print(df.shape)
df.head()

DEFENSE → ATTACK ↴
['Normal', 'Fire', 'Water', 'Electric', 'Grass', 'Ice', 'Fighting', 'Poison', 'Ground', 'Flying', 'Psychic', 'Bug', 'Rock', 'Ghost', 'Dragon', 'Dark', 'Steel', 'Fairy']
(18, 18)

,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
DEFENSE → ATTACK ↴,,,,,,,,,,,,,,,,,,
Normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,½,0,NaN,NaN,½,NaN
Fire,NaN,½,½,NaN,2,2,NaN,NaN,NaN,NaN,NaN,2,½,NaN,½,NaN,2,NaN
Water,NaN,2,½,NaN,½,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,½,NaN,NaN,NaN
Electric,NaN,NaN,2,½,½,NaN,NaN,NaN,0,2,NaN,NaN,NaN,NaN,½,NaN,NaN,NaN
Grass,NaN,½,2,NaN,½,NaN,NaN,½,2,½,NaN,½,2,NaN,½,NaN,½,NaN

In [6]:
# replace Nans with value of 1
df = df.fillna(1)
df.head()

,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
DEFENSE → ATTACK ↴,,,,,,,,,,,,,,,,,,
Normal,1.0,1,1,1,1,1,1,1,1,1,1,1,½,0,1,1,½,1
Fire,1.0,½,½,1,2,2,1,1,1,1,1,2,½,1,½,1,2,1
Water,1.0,2,½,1,½,1,1,1,2,1,1,1,2,1,½,1,1,1
Electric,1.0,1,2,½,½,1,1,1,0,2,1,1,1,1,½,1,1,1
Grass,1.0,½,2,1,½,1,1,½,2,½,1,½,2,1,½,1,½,1

In [8]:
# replace 1/2 with 0.5 
df = df.replace(to_replace='½', value=0.5)
df.head()

,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
DEFENSE → ATTACK ↴,,,,,,,,,,,,,,,,,,
Normal,1.0,1,1,1,1,1,1,1,1,1,1,1,0.5,0,1,1,0.5,1
Fire,1.0,0.5,0.5,1,2,2,1,1,1,1,1,2,0.5,1,0.5,1,2,1
Water,1.0,2,0.5,1,0.5,1,1,1,2,1,1,1,2,1,0.5,1,1,1
Electric,1.0,1,2,0.5,0.5,1,1,1,0,2,1,1,1,1,0.5,1,1,1
Grass,1.0,0.5,2,1,0.5,1,1,0.5,2,0.5,1,0.5,2,1,0.5,1,0.5,1

In [14]:
# ensure all columns are numeric and no strings
df = df.apply(pd.to_numeric)
print(df.dtypes)
df.head()

Normal      float64
Fire        float64
Water       float64
Electric    float64
Grass       float64
Ice         float64
Fighting    float64
Poison      float64
Ground      float64
Flying      float64
Psychic     float64
Bug         float64
Rock        float64
Ghost       float64
Dragon      float64
Dark        float64
Steel       float64
Fairy       float64
dtype: object

,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
attack\defense,,,,,,,,,,,,,,,,,,
Normal,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.0,1.0,1.0,0.5,1.0
Fire,1.0,0.5,0.5,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,0.5,1.0,0.5,1.0,2.0,1.0
Water,1.0,2.0,0.5,1.0,0.5,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,0.5,1.0,1.0,1.0
Electric,1.0,1.0,2.0,0.5,0.5,1.0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0
Grass,1.0,0.5,2.0,1.0,0.5,1.0,1.0,0.5,2.0,0.5,1.0,0.5,2.0,1.0,0.5,1.0,0.5,1.0

In [15]:
print(df.index.name)
df.index.name = 'attack\\defense'
print(df.index.name)

attack\defense
attack\defense

In [16]:
df.to_csv("pokemon_type_chart.csv")
print("Saved as pokemon_type_chart.csv")

Saved as pokemon_type_chart.csv